<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<body>
  <app-partials></app-partials>




<div class="container">
  <!--The header for what this page is about-->
  <h1>Guest List</h1>
  <!--Dynamic table to display the guest list information stuff-->
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <!--This is the header of the table-->
      <th scope="col">Name</th>
      <th scope="col">Number of People</th>
      <th scope="col">Allergies</th>
    </tr>
  </thead>
  <tbody>
    <!--This is the code to dynamically create the row/columns of the data-->
    <tr *ngFor="let data of rsvp ">
      <td>{{data.userName}}</td>
      <td>{{data.partyNum}}</td>
      <td>{{data.allergies}}</td>
    </tr>
  </tbody>
</table>

<!--Summer image-->
<img src="/assets/images/summer3.png" class="center">

</div>

</body>
