/*This is for the header
Color pallete: https://colorpalettes.net/color-palette-922/
https://colorpalettes.net/color-palette-1793/
*/
thead {
  color:#5a4153;
  background-color: #edead7;
  font-family: palatino;
  font-size: large;

}

div {text-align: center;
  font-family: fantasy;
  }

/*
This is for the table contents
Color pallete: https://colorpalettes.net/color-palette-2333/
*/
table{
  background-color:#fdfafb;
  font-family: palatino;

}

/*
Color: https://colorpalettes.net/color-palette-4482/
*/
h1 {
  text-align: center;
  font-family: palatino;
  font-weight: bold;
  color: white;
  font-size: 40px;
  -webkit-text-stroke: 0.75px black;
}

img{
  align-items: center;
  width: 200px;
  height: auto;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.bg-img {
  /* The image used */
  background-image: url("/assets/images/watercolorFlower.jpeg");

  background-position:  bottom;
  background-repeat:repeat-x;
  background-attachment: fixed;
  overflow-y: scroll;

  height: 100%;

  position: relative;
  width: 100%;
  min-height: 100vh;

}

body {
  margin: 0;
  padding: 0;
  background-image: url("/assets/images/magicForest.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; /* Optional: Hide scrollbars if needed */
  height: 100%;
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.container {
  padding-top: 100px;
}

img{
  align-items: center;
  width: 200px;
  height: auto;
  }
