<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<body>
  <app-partials></app-partials>


  <div class="container">
    <h1>The Wedding </h1>
    <h1>of</h1>
    <h1>Raph Yancy Cornejo & Bao Tran Do </h1>
    <h4>Monday, September 18th, 2023 6:00-9:00 PM PT</h4>
    <h4>Join us for the reception</h4>
    <h4>12424 23rd Ave SE Everett WA, 98208</h4>
    <h4>Please RSVP here:</h4>
    <a href="https://RaphandTranWedding.rsvpify.com">https://RaphandTranWedding.rsvpify.com</a>
    <img src="/assets/images/summer1.png">

  </div>



</body>



