<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<nav class="navbar navbar-light" style="background-color: #4d5d53;">
  <div class="col">
    <a class="navbar-brand " routerLink="/us" style="color: white">Our Wedding</a>
  </div>
  <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
  <!-- <a class="nav-link" routerLink="/rsvp" >RSVP</a> -->
  <!-- <a class="nav-link" routerLink="/guestlist">Guest List</a> -->
</nav>
